<p class="abstract">
  As you selected <strong>retirement villages</strong>, here is a selection of options to explore villages and what they offer.
</p>
<div class="module">
  <h4>Retirement villages</h4>
    <p>
      Some people have the option to live independently in a community village atmosphere that offers access to a range of low care through to high care onsite.
    </p>
    <p>
      When living in a retirement village or your own unit you need to contribute to the costs of home help and related services. You might like to get financial advice to help you make that decision.
    </p>
    <button type="submit">View retirement village map <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
  <hr />
</div>

<div class="module">
  <h4>Estimate costs of  residential care in a retirement village/nursing home</h4>
    <p>
      You may be asked to contribute to fees for residential care whether you are in a retirement village or have moved into a nursing home.</p>
    <h5>Types of fees</h5>
    <a href="#" class="link"><strong>basic daily fee</strong></a></br>
    <a href="#" class="link"><strong>means tested care fee</strong></a></br>
    <a href="#" class="link"><strong>accommodation payments</strong></a></br>
    <h5>
      Estimate residential care fees
    </h5>
    <button type="submit">Residential care fee estimator<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
</div>
