<p class="abstract">
  There are many ways of documenting an aged person’s wishes and planning for any eventuality.
</p>
<div class="module">
  <h4>Make a power of attorney</h4>
  <p>
    There are two kinds of power of attorney. A general power of attorney appoints someone to manage your legal and financial affairs in the short term. An enduring power of attorney prepares for the eventuality of no longer being able to make decisions. They differ slightly from state to state.</br>
    <a href="#" class="link"><strong>Powers of attorney in South Australia</strong></a></br>
    <a href="#" class="link"><strong>Powers of attorney by state</strong></a>
  </p>
  <hr />
</div>
<div class="module">
  <h4>Appoint a Centrelink or Medicare nominee</h4>
  <p>
    Authority to receive correspondence or payments on someone else’s behalf.</br>
    <a href="#" class="link"><strong>Centrelink and Medicare nominee forms</strong></a>
  </p>
  <hr />
</div>
<div class="module">
  <h4>Make an advanced care directive</h4>
  <p>
    Captures a person’s wishes, values and treatments about their future medical care.</br>
    <a href="#" class="link"><strong>Advance care planning in SA</strong></a>
  </p>
  <hr />
</div>
<div class="module">
  <h4>Prepare a will</h4>
  <p>
    A will documents who receives a person’s assets when they die.</br>
    <a href="#" class="link"><strong>Prepare a legal will</strong></a>
  </p>
  <hr />
</div>
<div class="module">
  <h4>Find out about organ donation</h4>
  <p>
    You can nominate which organs and tissues to donate for transplantation. Decide what you would like to do and register any decision online.</br>
    <a href="#" class="link"><strong>Organ and Tissue Authority</strong></a>
  </p>
</div>
