<p class="abstract">
  Based on what you have told us here are options to help you know about aged care costs and subsidies, and how to make financial decisions and plan ahead.
</p>
<div class="module">
  <h4>Means test for in-home care and residential care</h4>
    <p>
      Some people have the option to live independently in a community village atmosphere that offers access to a range of low care through to high care onsite.
    </p>
    <p>
      Find out about eligibility to receive government-subsidised aged care. Compare the income and assets assessments for in-home care and residential care.</br>
    <a href="#" class="link"><strong>Aged Care means test assessments</strong></a> – Department of Human Services
  </p>
  <hr />
</div>
<div class="module">
  <h4>Help with financial planning</h4>
    <p>
      Free state-wide seminars on topics such as aged care fees and charges, accommodation options in retirement and estate planning </br>
    <a href="#" class="link"><strong>Financial information seminars</strong></a> – Department of Human Services
  </p>
  <p>
    Finding and selecting a registered financial adviser </br>
  <a href="#" class="link"><strong>Financial advisers</strong></a> – ATSIC Moneysmart
  </p>
  <p>
  A free service for people with financial difficulties</br>
  <a href="#" class="link"><strong>Financial counsellors</strong></a> – ATSIC Moneysmart
  </p>
  <p>
    There are provisions to help people get the care they need</br>
  <a href="#" class="link"><strong>Financial hardship assistance</strong></a> – My Aged Care
  </p>
  <p>
  Potential to fund residential care or care at home </br>
  <a href="#" class="link"><strong>Home equity release</strong></a> – ATSIC Moneysmart
  </p>
</div>


<!-- <div class="module">
  <h5>Financial planning</h5>
    <p>
      Department of Human Services</br>
      <a href="#" class="link"><strong>Financial information service</strong></a>
    </p>
    <p>
      My Aged Care</br>
      <a href="#" class="link"><strong>Finances and aged care financial advice</strong></a></br>
    </p>
    <p>
      Retirement income planning and reverse mortgages - Australian Securities and Investment Commission</br>
      <a href="#" class="link"><strong>Moneysmart</strong></a></br>
    </p>
    <p>
      Help with home care and residential care</br>
      <a href="#" class="link"><strong>Fee estimators</strong></a></br>
      <a href="#" class="link"><strong>Financial hardship assistance</strong></a></br>
    </p>
  </p>
</div>
<div class="module">
  <h5>Carer’s allowance</h5>
    <p>
      Register an intent to claim and then submit your claim within 14 days.</br>
      <a href="#" class="link"><strong>Eligibility for carer’s allowance</strong></a>
    </p>
</div>
<div class="module">
  <h5>Age pension</h5>
    <p>
      Income support and access to concessions for eligible older Australians.</br>
      <a href="#" class="link"><strong>Age pension basics</strong></a>
    </p>
</div>
<div class="module">
  <h5>Income support for veterans and war widows/widowers</h5>
    <p>
      See the pensions, allowances, supplements and concessions available to veterans.</br>
      <a href="#" class="link"><strong>Income support</strong></a>
    </p>
</div>
<div class="module">
  <h5>Rent assistance</h5>
    <p>
      Financial help for people who pay rent and receive a Centrelink payment such as the age pension.</br>
      <a href="#" class="link"><strong>Rent assistance</strong></a>
    </p>
</div>
<div class="module">
  <h5>Health care card</h5>
    <p>
      Access to cheaper medicines under the Pharmaceutical Benefits Scheme, bulk billing at GP practices, refunds for medical expenses under the Medicare Safety Net, and other benefits. </br>
      <a href="#" class="link"><strong>Health care card</strong></a>
    </p>
</div>
<div class="module">
  <h5>Medicare safety net</h5>
    <p>
      People who have high medical costs get higher benefits when they reach the Medicare Safety Net.</br>
      <a href="#" class="link"><strong>What is the Medicare safety net</strong></a>
    </p>
</div>
<div class="module">
  <h5>NSW Seniors card</h5>
    <p>
      Access to discounts and offers for people over 60 who work less than 20 hours of paid work a week.</br>
      <a href="#" class="link"><strong>NSW seniors card</strong></a>
    </p>
</div> -->
