<footer role="contentinfo">
    <div class="wrapper">
      <section class="footer-top">
        <nav>
          <ul>
            <li><h2>Title header</h2></li>
            <li><a href="">This is a footer link</a></li>
            <li><a href="">This is a footer link</a></li>
            <li><a href="">This is a footer link</a></li>
            <li><a href="">This is a footer link</a></li>
          </ul>
          <ul>
            <li><h2>Title header</h2></li>
            <li><a href="">This is a footer link</a></li>
            <li><a href="">This is a footer link</a></li>
            <li><a href="">This is a footer link</a></li>
            <li><a href="">This is a footer link</a></li>
          </ul>
          <ul>
            <li><h2>Title header</h2></li>
            <li><a href="">This is a footer link</a></li>
            <li><a href="">This is a footer link</a></li>
            <li><a href="">This is a footer link</a></li>
            <li><a href="">This is a footer link</a></li>
          </ul>
          <ul>
            <li><h2>Title header</h2></li>
            <li><a href="">This is a footer link</a></li>
            <li><a href="">This is a footer link</a></li>
            <li><a href="">This is a footer link</a></li>
            <li><a href="">This is a footer link</a></li>
          </ul>
        </nav>
      </section>
      <section>
        <div class="footer-logo">
          <img alt="Australian Government Coat of Arms" src="http://gov-au-ui-kit.apps.staging.digital.gov.au/latest/img/coat-of-arms.png">
        </div>
        <div class="footer-links">
          <nav>
            <ul>
              <li><a href="">Example global link</a></li>
              <li><a href="">Example global link</a></li>
              <li><a href="">Example global link</a></li>
              <li><a href="">Example global link</a></li>
              <li><a href="">Example global link</a></li>
            </ul>
          </nav>
          <p>© Commonwealth of Australia <br>
          <a href="https://github.com/AusDTO/gov-au-ui-kit/blob/master/LICENSE.md" rel="license">Licensed under the MIT License.</a></p>
        </div>
      </section>
    </div>
  </footer>
