<p>
  Older people can be assessed for safety and support at home or for residential care needs through My Aged Care–a national government scheme.
  As a first step call My Aged Care to register. They will ask you a series of questions to work out if you need an assessment in your home and what government subsidy is available for you.
</p>
<div class="module">
<h5>Register at My Aged Care</h5>
<p>
  Monday to Friday 8am to 8pm</br>
  Saturday 10am to 2pm</br>
  <a href="tel:1800 200 422"  class="link phone"><strong>1800 200 422</strong></a>
</p>
</div>
<div class="module">
<h5>My Aged Care website</h5>
<p>
  Research the help you can get at home and find out what it’s like caring for someone.</br>
  <a href="#" class="link"><strong>My Aged Care help at home</strong></a>
</p>
</div>
<div class="module">
  <h5>Make a My Aged Care referral</h5>
  <p>
    Complete a short online form to refer an aged person to apply for access to aged care services.</br>
    <a href="#" class="link"><strong>Make a referral</strong></a>
  </p>
</div>
<div class="module">
  <h5>Contact your local council</h5>
  <p>
    Search for your local council and the services they offer.</br>
    <a href="#" class="link"><strong>SA: local council and community information</strong></a>
  </p>
</div>
<div class="module">
  <h5>Personal alarms</h5>
  <p>
    To create a prifile, phone My Aged Care:</br>
    Monday to Friday 8am to 8pm</br>
    Saturday 10am to 2pm</br>
    <a href="tel:1800 200 422"  class="link phone"><strong>1800 200 422</strong></a>
  </p>
</div>
