<p class="abstract">
  Some ideas to help with monitoring and managing medicine.
</p>
<div class="module">
  <h4>Manage your medicine</h4>
  <p>
    Find out how to reduce the chance of mishaps in taking medicine incorrectly such as harmful side effects and interactions.</br>
    <a href="#" class="link"><strong>Make a medicines list</strong></a></br>
    <a href="#" class="link"><strong>Managing your medicine</strong></a></br>
  </p>
  <hr />
</div>
<div class="module">
  <h4>Home medicines review</h4>
  <p>
    The GP and pharmacist can recommend how to manage, store and monitor medicines. Pharmacies provide sealed weekly Webster packs containing your medicines to help people manage their medication, as prescribed by the doctor.</br>
    <a href="#" class="link"><strong>Home medicine review</strong></a></br>
    <a href="#" class="link"><strong>Department of Health - about medication management reviews</strong></a></br>
  </p>
  <hr />
</div>
<div class="module">
  <h4>The safety net</h4>
  <p>
People who purchase medicines frequently often reach the Pharmaceutical Benefits Scheme Safety Net that further reduces the cost of medicines. If you are eligible you receive subsidised medicine every time you present a prescription to the pharmacist.</br>
    <a href="#" class="link"><strong>What is the safety net?</strong></a></br>
    <a href="#" class="link"><strong>About the Pharmaceuticals Benefits Scheme</strong></a></br>
  </p>
</div>
