<p>
  Some ideas to help with monitoring and managing medicine.
</p>
<div class="module">
  <h5>Manage your medicine</h5>
  <p>
    Find out how to reduce the chance of mishaps caused by side effects of medicines or their interactions.</br>
    <a href="#" class="link"><strong>Make a medicines list</strong></a></br>
    <a href="#" class="link"><strong>Managing your medicine</strong></a></br>
  </p>
</div>
<div class="module">
  <h5>Home medicines review</h5>
  <p>
    The GP and pharmacist can recommend how to manage, store and monitor medicines. Pharmacies provide sealed weekly Webster packs to help people manage their medication, as prescribed by the doctor</br>
    <a href="#" class="link"><strong>Home medicine review</strong></a></br>
    <a href="#" class="link"><strong>Department of Health - about medication management reviews</strong></a></br>
  </p>
</div>
<div class="module">
  <h5>The safety net</h5>
  <p>
People who purchase medicines can frequently reach the Pharmaceutical Benefits Scheme Safety Net that further reduces the cost of medicines.</br>
    <a href="#" class="link"><strong>What is the safety net?</strong></a></br>
    <a href="#" class="link"><strong>About the Pharmaceuticals Benefits Scheme</strong></a></br>
  </p>
</div>
