<p class="abstract">
  Normal ageing, medical conditions and medication may impact on a person’s ability to drive. There are alternatives for getting around, such as transport concession cards and taxi vouchers.
</p>
<div class="module">
  <h4>Transport options</h4>
  <p>
    There are many different transport options to help older people maintain their independence and ability to get around.</br>
    <a href="#" class="link"><strong>Australian Human Rights Commission: Your rights in retirement to transport</strong></a>
  </p>
  <hr />
</div>
<div class="module">
  <h4>Driving ability</h4>
  <p>
    A GP will confirm an older person’s fitness to hold a driver’s licence.</br>
    <a href="#" class="link"><strong>SA: Medical fitness to drive</strong></a>
  </p>
  <hr />
</div>
<div class="module">
  <h4>Travel to and from appointments</h4>
  <p>
    If an older person has a one-off appointment they may be able to get taxi vouchers through their GP. For regular appointments they may qualify for transport assistance after being assessed through My Aged Care.</br>
    <a href="#" class="link"><strong>My Aged Care</strong></a>
  </p>
  <hr />
</div>
<div class="module">
  <h4>Transport and taxi concessions</h4>
  <p>
    South Australians who hold an approved concession card, receive a Centrelink payment or hold a Seniors Card can receive a concession on public transport fares. Asylum seekers may also be eligible for public transport concession fares. Find out how to apply for a concession.
    <a href="#" class="link"><strong>SA: Public transport concessions</strong></a>
  </p>
</div>
