@import 'http://gov-au-ui-kit.apps.staging.digital.gov.au/latest/_ui-kit.scss';

.footer-logo {
  width: 207px;
  height: 100px;
}
header[role=banner] .hero.reduced {
  padding: 1.2em 0;
}
header[role=banner] .hero .tagline {
  margin: 0;
}
