@import "vendor/ui-kit";
@import "scss/font-awesome";

.footer-logo {
  width: 207px;
  height: 100px;
}
header[role=banner] .hero.reduced {
  padding: 1.2em 0;
}
header[role=banner] .hero .tagline {
  margin: 0;
}

.transition-main {
  padding: 0 $base-spacing;
}
.question-header {
  padding: $base-spacing 0 0 0;
  div {
    margin-top: $base-spacing;
  }
  a {
    position: relative;
    display: inline-block;
    margin-left: 1.5em;
    &:before {
      position: absolute;
      display: block;
      padding-right: 1em;
      font: normal normal normal 14px/1 FontAwesome;
      border-bottom: none;
      left: -1.5em;
      top: 0.5em;
    }
  }

}

.addmore {
  position: relative;
  display: inline-block;
  margin-left: 1.5em;
  margin-top: $small-spacing;
  &:before {
    position: absolute;
    display: block;
    padding-right: 1em;
    font: normal normal normal 20px/1 FontAwesome;
    border-bottom: none;
    left: -1.2em;
    top: 0.2em;
    content: "\f055";
  }
}

#transition legend {
  margin-bottom: $base-spacing;
}

.accordion {
  $base-border-color: $non-white !default;
  // $base-line-height: 1.5em !default;
  // $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $accordion-menu-border-color: $base-border-color;
  $accordion-menu-color: $base-font-color !default;
  $accordion-menu-border: 4px solid $white;
  $accordion-menu-background: $non-white;
  $accordion-menu-hover: lighten($accordion-menu-background, 2%);
  $accordion-menu-sub-background: darken($accordion-menu-background, 5%);
  $accordion-menu-sub-inset: darken($accordion-menu-sub-background, 6%);
  $accordion-menu-sub-hover: lighten($accordion-menu-sub-background, 2%);
  $accordion-menu-list-padding: $small-spacing $base-spacing;

  background-color: $accordion-menu-background;
  border: none;
  margin: 0 0 $base-spacing 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: $accordion-menu-border;
    list-style: none;
    margin: 0;
    padding: 0;

    > a {
      color: $accordion-menu-color;
      display: block;
      padding: $accordion-menu-list-padding;
      text-decoration: none;
      border: none;
      font-weight: bold;
      position: relative;
      padding-right: 45px;

      .badge--default {
        float: right;
      }
      &:after {
        content: "\f078";
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        top: 17px;
        right: 20px;
      }
    }
    &.is-expanded > a:after {
      content: "\f077";
    }
    &:last-child {
      border: 0;
    }

    &:focus,
    &:hover {
      background-color: $accordion-menu-hover;
    }
  }

  .submenu {
    display: none;
    > p {
      padding: $accordion-menu-list-padding;
    }
    .module {
      padding: $accordion-menu-list-padding;
      border-top: 4px solid $white;
    }
    .results-heading {
      margin-bottom: $small-spacing;
    }
    .link {
      position: relative;
      display: inline-block;
      margin-left: 1.5em;
      margin-top: 0.6em;
      &:before {
        position: absolute;
        display: block;
        padding-right: 1em;
        font: normal normal normal 18px/1 FontAwesome;
        border-bottom: none;
        left: -1.1em;
        top: 0.3em;
        content: "\f054";
      }
      &.phone::before {
        content: "\f095";
        font-size: 22px;
        top: .2em;
      }
    }
  }

  .is-expanded {
    display: block;
    padding-bottom: 0;
  }
}
.list-horizontal {
  border-top: solid 1px $light-grey;
  padding: $base-spacing 0;
  button {
    margin: $base-spacing 0 0 0;
  }
}

fieldset h4 {
  border-bottom: 1px solid $light-grey;
  padding-bottom: $small-spacing;
}
